In [1]:
import numpy as np 
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
import time 
import seaborn as sns
import matplotlib.pyplot as plt
import os
import tensorflow as tf
from tensorflow import keras
from sklearn.ensemble import RandomForestRegressor
import sklearn

In [29]:
trainData = pd.read_csv("train.csv")
testData = pd.read_csv("test.csv")
trainPrices = trainData["SalePrice"].to_numpy()
print("Shapes are : ",trainData.shape,testData.shape)

Shapes are :  (1460, 81) (1459, 80)

In [30]:
trainData = pd.concat([trainData,testData])

In [31]:
trainData.shape

(2919, 81)

In [32]:
del trainData["Id"],testData["Id"], 
del trainData["Alley"],testData["Alley"]
del trainData["PoolQC"],testData["PoolQC"]
del trainData["Fence"],testData["Fence"]
del trainData["MiscFeature"],testData["MiscFeature"]
del trainData["FireplaceQu"],testData["FireplaceQu"]

In [33]:
trainData.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500.0
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500.0
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500.0
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000.0
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000.0

In [34]:
#SPLIT THE CATEGORICAL DATA
catColNames =trainData.select_dtypes(object).columns
categoricalData = trainData.loc[:,catColNames]
trainData.drop(catColNames,axis=1,inplace=True)

In [35]:
#DROP ROWS WHERE CATEGORICAL DATA IS NULL
#BECAUSE IT'S HARD TO FILL 
trainData.drop(np.unique(np.where(categoricalData.isnull()==True)[0]),axis=0,inplace=True)
categoricalData.drop(np.unique(np.where(categoricalData.isnull()==True)[0]),inplace=True)

KeyError: '[17 39 48 78 88 89 90 99 102 108 125 127 140 148 155 156 163 165 182 198\n 210 234 241 250 259 287 291 307 332 342 362 371 375 386 392 393 431 434\n 441 464 495 520 528 529 532 533 535 553 562 582 613 614 620 635 636 638\n 646 649 650 705 710 736 738 749 750 778 784 826 843 868 894 897 921 936\n 942 948 954 960 968 970 973 976 977 984 1000 1009 1011 1030 1035 1038\n 1045 1048 1049 1090 1096 1123 1131 1137 1143 1173 1179 1216 1218 1219\n 1232 1234 1243 1257 1278 1283 1321 1323 1325 1326 1337 1349 1379 1407\n 1412 1449 1450 1453 1487 1513 1531 1539 1552 1555 1556 1558 1560 1585\n 1590 1593 1594 1614 1615 1691 1706 1717 1721 1729 1778 1787 1808 1810\n 1811 1814 1819 1822 1831 1834 1836 1839 1847 1848 1856 1857 1858 1860\n 1882 1893 1915 1945 1992 2004 2010 2040 2041 2050 2066 2068 2081 2090\n 2093 2096 2099 2104 2120 2122 2126 2135 2151 2153 2185 2188 2189 2190\n 2191 2192 2193 2212 2216 2217 2218 2224 2238 2246 2250 2311 2325 2340\n 2348 2349 2353 2354 2368 2387 2398 2399 2422 2426 2435 2452 2453 2473\n 2489 2490 2498 2524 2547 2552 2553 2557 2564 2575 2576 2578 2579 2592\n 2599 2603 2609 2610 2657 2686 2691 2693 2702 2708 2763 2766 2767 2771\n 2789 2791 2799 2803 2804 2824 2859 2862 2870 2888 2891 2892 2893 2904\n 2909 2913 2914 2917] not found in axis'

In [28]:
#TURN CATEGORICAL DATASET TO ONE HOT ENCODED
categoricalData = pd.get_dummies(categoricalData)

In [ ]:
#DROP ROWS WHERE CATEGORICAL DATA IS NULL
#BECAUSE IT'S HARD TO FILL 

trainData.drop(np.unique(np.where(categoricalData.isnull()==True)[0]),inplace=True)
categoricalData.drop(np.unique(np.where(categoricalData.isnull()==True)[0]),inplace=True)